<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FoodMap - Home</title>
    <!--Añadiendo color a la barra de navegador que se verá desde versión movile-->
  <meta name="theme-color" content="#2b2b2b"/>
    <link rel="icon" type="image/png" href="../assets/images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Mi css -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <header class="hidden-xs hidden-sm">
      <div class="container-fluid">
        <div class="row">
          <div class=" col-md-12 col-lg-12">
            <h1 class="text-center">Food <i class="fa fa-cutlery" aria-hidden="true"></i> Map</h1>
          </div>
        </div>
      </div>
    </header>
    <main class=" background-food">
      <div class="container-fluid hidden-lg hidden-md">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">Food <i class="fa fa-cutlery" aria-hidden="true"></i> Map</h1>
        </div>
       </div>
      </div>

      <!--Slider que solo será visible en DESKTOP-->
      <div class="container-fluid hidden-xs hidden-sm">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!--Slider-->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="../assets/images/chile-nogada.jpg" alt="Chile" class="img-responsive">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="../assets/images/kimbap.jpg" alt="Kimbap" class="img-responsive">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="../assets/images/sushi.jpg" alt="Sushi" class="img-responsive">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="../assets/images/juanes.jpg" alt="Juanes" class="img-responsive">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row hidden-xs hidden-sm">
          <div class="col-lg-12">
            <h2 class="text-center">Encuentra todo los Restaurantes que buscas...¡Aquí!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="container-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15601.50026064973!2d-76.9585448!3d-12.1548486!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1514426864490" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="col-xs-12"></iframe>
            </div>
          </div>
         </div>
         <div class="row hidden-xs hidden-sm">
           <div class="col-lg-12">
             <h3 class="text-center col-lg-12">"NO HAY AMOR MÁS SINCERO QUE EL AMOR A LA COMIDA".</h3>
           </div>
         </div>
         <!--Filtros para tipo de comida-->
         <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
             <label for="sel1" class="label-color">¡Comida a un paso de tí!</label>
             <select class="form-control" id="sel1">
               <option value="principal">Seleccionar</option>
               <option class="styles-option" value="mexico">Mexicana</option>
               <option class="styles-option" value="corea">Coreana</option>
               <option class="styles-option" value="japon">Japonesa</option>
               <option class="styles-option" value="peru">Peruana</option>
             </select>
           </div>
          </div>
        </div>
      </div>

      <!--Slider-->
      <div class="container-fluid">
        <div id="principal-view" class="slider">
          <div class="row hidden-xs hidden-sm">
            <div class="col-lg-12 text-center">
              <img src="https://pics.me.me/cuando-veo-que-ya-estan-trayendo-la-comida-gif-9601439.png" alt="Stitch" class="image-stitch">
            </div>
          </div>
          <div class="row hidden-lg hidden-md">
            <div class="col-xs-12">
              <ul>
				       <li>
                 <img src="../assets/images/chile-nogada.jpg" alt="Chile" class="img-responsive">
               </li>
				       <li>
                 <img src="../assets/images/kimbap.jpg" alt="Kimbap" class="img-responsive">
               </li>
				       <li>
                 <img src="../assets/images/sushi.jpg" alt="Sushi" class="img-responsive">
               </li>
				       <li>
                 <img src="../assets/images/juanes.jpg" alt="Juanes" class="img-responsive">
               </li>
			        </ul>
            </div>
          </div>
        </div>

        <!--Comida-->
        <div id="food-list" class="hidden margin-div">
          <div class="row">
            <div class="col-xs-6 col-sm-6 text-center">
              <img src="" alt="" class="img-responsive imagen-circle" data-target='#modal' data-toggle="modal">
            </div>
            <div class="col-xs-6 col-sm-6 text-center">
              <img src="" alt="" class="img-responsive imagen-circle" data-target='#modal' data-toggle="modal">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 text-center">
              <img src="" alt="" class="img-responsive imagen-circle" data-target='#modal' data-toggle="modal">
            </div>
            <div class="col-xs-6 col-sm-6 text-center">
              <img src=".." alt="" class="img-responsive imagen-circle" data-target='#modal' data-toggle="modal">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 text-center">
              <img src=".." alt="" class="img-responsive imagen-circle" data-target='#modal' data-toggle="modal">
            </div>
            <div class="col-xs-6 col-sm-6 text-center">
              <img src="" alt="" class="img-responsive imagen-circle"  data-target='#modal' data-toggle="modal">
            </div>
          </div>
        </div>
      </div>
    </main>

    <!---MODAL-->
    <div id="modal" class="modal fade my-modals" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title text-center" id="gridSystemModalLabel">Nombre</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="container-map-modal">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15601.50026064973!2d-76.9585448!3d-12.1548486!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1514426864490" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="col-xs-12"></iframe>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center">
                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty yellow" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty yellow" aria-hidden="true"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h4 class="text-center">Dirección</h4>
                <p class="text-center">Rango</p>
                <p class="text-center">Delivery</p>
                <p class="text-center">Teléfono</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn col-xs-4 col-xs-offset-4 button-modal" data-dismiss="modal">Pedir ahora</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal -->

    <script type="text/javascript" src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/data.js"></script>
    <script type="text/javascript" src="../js/home.js"></script>
  </body>
</html>
